:root {
  --background-color: #3395ae;
  --container-background-color: #557a95;
  --container-title-color: #fdc300;
  --container-text-color: #ffffff;
  --sub-container-background-color: #bbbbbb;
  --sub-container-title-color: #fdc300;
  --sub-container-text-color: #000000;
}
body {
  background-color: var(--background-color);
  padding-left:25px;
  padding-right:25px;
}
.linktext {
  color: var(--container-title-color);
  text-decoration: underline;
}
.linkicon {
  padding: 20px;
  color: var(--container-background-color);
}

img {
  object-fit: contain;
}
.col {
  padding-bottom: 20px;
}
.jumbotron {
  background-color: var(--container-background-color) !important;
  color:var(--container-text-color);
}
.jumbotron-title
{
  color:var(--container-title-color);
}
.jumbotron-button
{
  color: var(--container-background-color);
  background-color: var(--container-title-color);
}
.featurette-heading
{
  color:var(--container-text-color);
}
.card
{
  background-color: var(--container-background-color);
  text-align: center;
  padding: 10px;
}
.card-body
{
  color: var(--sub-container-text-color);
  background-color: var(--sub-container-background-color);
}
.card-button
{
  color: var(--container-title-color);
  font-weight: bold;
  background-color: var(--container-background-color);
}
.card-title
{
  color: var(--container-title-color);
  font-weight: bold;
}
.card-major-bullet
{
  text-align: left;
}
.card1-minor-bullet
{
  text-align: left;
}
.card-minor-minor-bullet {
	font-size: : small;
  font-style:italic;
}

.card-text
{
  text-align: left;
}
.scrolling-wrapper {
  width: 100%;left
  display: inline-block;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}
.footer {
/*   position: fixed; */
   left: 0;
   bottom: 0;
   width: 100%;
   color:var(--container-background-color);
   background-color: var(--background-color);
   text-align: center;
}
.img-max {
  width: 99%;
}
.bot-pad
{
  padding-bottom: 20px;
}
.span-left-justify
{
  float:left;
}
.right-justify
{
  text-align: right;
}
.center-justify
{
  text-align: center;
}
.solarPlotButton
{
  width :90%;
}
